
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
  
      /* Palette de couleur*/
      --color1: #fff9d2 ;
      --color2: #ffc054 ;
      --color3: #291500 ;
  }
  
body {
    display: flex;
    background-color:var(--color1);
    margin: 0%;
    margin-left: 0%;
}

#texte1 {
    width:55% ;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 15px;
    box-shadow: black 2px 2px 5px 0px;
    margin: 10px;
    margin-left: 5vh;
}
#image1{
    
     width: 35%;
    
    padding: 10px;

    
     }
    
#image2{
     
     width: 35%;
     
     padding: 10px;
     margin-left:5vh;
     }


#texte2 {
    width:55% ;
    background-color:  rgba(255, 255, 255, 0.178);
    padding: 15px;
    box-shadow: black 2px 2px 5px 0px;
    margin: 10px;
    padding: 10px;
    margin-left: 0;
}
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40vh;
    height: 100vh;
    background-color: var(--color3);
    color: var(--color2);
    margin-left: 0%;
    margin-top: 0%;
    transition: 1s; 
    padding: 10px;
}

.boutton {
    text-decoration: none;
    color: var(--color2); 
    background-color: var(--color3);
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    text-align: center;
    padding-top: 1.2vh;
    transition: background-color 500ms, color 500ms, border 500ms;
}

.boutton:hover {
    background-color: rgb(29, 28, 28);
    color: var(--color2);
    border: #ffff00 solid 1px; 
    border-radius: 1vh;
}


#logoPN {
    width: 35vh;
    padding: 10px;

}
#lapin{
    font-size:5vh ;
    color: var(--color2);
    padding: 10px;
}
header{
    position: relative;
    margin-left: 40vh;
}
#title{
    margin-left: 60vh;
}

#texphoto1{
display: flex;
flex-direction: row;
justify-content: baseline;
align-items: center;

}
#texphoto2{
    display: flex;
    flex-direction: row;
     justify-content: baseline;
     align-items: center;



    